footer.footer(style="margin: 0%")
  .footer-container
    .footer-top
      .top-left
        img(src="/images/Natours-footer.png", alt="footer logo")
        span Your ultimate go on travel and tour solution
      .top-right
        i.fa-solid.fa-earth-africa.earth
        .location
          span Our Physical Offices
          p Mombasa, Nairobi, Naivasha
          i.fa-solid.fa-arrow-right

    .footer-bottom
      .footer-links
        .footer-link
          h4 Services
          p Budget Tours
          p Expert Insights
          p Independent
          p Luxury Tours
          p Safety Tips
          p Tips & Tricks
        .footer-link
          h4 Adventures
          p Extreme
          p In The Air
          p Nature & Wildlife
          p Winter Sports
          p Outdoor Parks
          p Motor Sports
        .footer-link
          h4 Destinations
          p Turkana
          p Naivasha
          p Mombasa
          p Lamu
          p Mt Kenya
          p Nairobi

      .get-in-touch
        h4 Get In Touch
        .contact
          .label
            p Let's Talk
            i.fa-solid.fa-arrow-right
          .email
            .input
              i.fa-regular.fa-envelope
              input(type="email", placeholder="Email address")
            button
              i.fa-solid.fa-arrow-right
