<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kenya Tours | Explore Nature</title>
    <link rel="stylesheet" href="./../Public/Css/Global.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
    />
    <script defer src="./../Public/js/script.js"></script>
  </head>
  <body>
    <div class="nav-bar">
      <!-- MOBILE NAVBAR -->
      <div class="nav-mobile">
        <div class="top">
          <div class="logo">
            <img src="./../Public//Images/Natours-recent-logo.png" alt="logo" />
          </div>
          <div class="menu-btns">
            <span class="menu"><i class="fa-solid fa-bars" id="menu"></i></span>
            <span class="close"
              ><i class="fa-solid fa-xmark close" id="close"></i
            ></span>
          </div>
        </div>
        <div class="links">
          <ul>
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/">Tours</a></li>
            <li><a href="/">About</a></li>
            <li><a href="/">Contact Us</a></li>
          </ul>
          <div class="btns">
            <a href="/sign-up">Sign Up</a>
            <a href="/sign-in">Sign In</a>
          </div>
        </div>
      </div>

      <!-- DESKTOP NAVBAR -->
      <div class="nav-desktop">
        <div class="nav-logo">
          <img
            src="./../Public//Images/Natours-recent-logo.png"
            alt="desktop-logo"
          />
        </div>
        <div class="nav-links">
          <ul>
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/tours">Tours</a></li>
            <li><a href="/about-us">About Us</a></li>
            <li><a href="/contact-us">Contact Us</a></li>
          </ul>
        </div>
        <div class="btns desktop-btns">
          <a href="/sign-up">Sign Up</a>
          <a href="/sign-in">Sign In</a>
        </div>
      </div>
    </div>
    <!-- Hero Section -->
    <div class="hero">
      <div class="hero-container">
        <div class="hero-text">
          <h1>Explore the World. Live the Adventure.</h1>
          <p>
            Step outside the ordinary and explore tours designed for true
            adventurers. <br />
            With <span>Natours</span>, the journey is just the beginning.
          </p>
        </div>
        <a href="/tours" class="cta-btn">Explore Our Tours</a>
      </div>
    </div>
  </body>
</html>
