<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kenya Tours | Explore Nature</title>
    <link rel="stylesheet" href="./../Public/Css/Global.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="40x40"
      href="../Public/Images/Natours-fav-icon-32.png"
    />

    <script defer src="./../Public/js/script.js"></script>
  </head>
  <body>
    <div class="nav-bar">
      <!-- MOBILE NAVBAR -->
      <div class="nav-mobile">
        <div class="top">
          <div class="logo">
            <img src="./../Public//Images/Natours-recent-logo.png" alt="logo" />
          </div>
          <div class="menu-btns">
            <span class="menu"><i class="fa-solid fa-bars" id="menu"></i></span>
            <span class="close"
              ><i class="fa-solid fa-xmark close" id="close"></i
            ></span>
          </div>
        </div>
        <div class="links">
          <ul>
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/">Tours</a></li>
            <li><a href="/">About</a></li>
            <li><a href="/">Contact Us</a></li>
          </ul>
          <div class="btns">
            <a href="/sign-up">Sign Up</a>
            <a href="/sign-in">Sign In</a>
          </div>
        </div>
      </div>

      <!-- DESKTOP NAVBAR -->
      <div class="nav-desktop">
        <div class="nav-logo">
          <img
            src="./../Public/Images/Natours-recent-logo.png"
            alt="desktop-logo"
          />
        </div>
        <div class="nav-links">
          <ul>
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/tours">Tours</a></li>
            <li><a href="/about-us">About Us</a></li>
            <li><a href="/contact-us">Contact Us</a></li>
          </ul>
        </div>
        <div class="btns desktop-btns">
          <a href="/sign-up">Sign Up</a>
          <a href="/sign-in">Sign In</a>
        </div>
        <div class="logged-in-user">
          <p>Abdikarim</p>
          <i class="fa-solid fa-circle-user"></i>
        </div>
      </div>
    </div>
    <!-- Hero Section -->
    <div class="hero">
      <div class="hero-container">
        <div class="hero-text">
          <h1>Explore the World. Live the Adventure.</h1>
          <p>
            Step outside the ordinary and explore tours designed for true
            adventurers. <br />
            With <span>Natours</span>, the journey is just the beginning.
          </p>
        </div>
        <a href="/tours" class="cta-btn">Explore Our Tours</a>
      </div>
    </div>
    <!-- FEATURED TOURS SECTION //////////////////////////////////////////////// -->
    <div class="featured-tours">
      <div class="text">
        <span class="toaster">Featured Tours</span>

        <h2>Our Featured Tours</h2>
        <p>
          Explore our handpicked tours that showcase the best destinations and
          experiences Natours has to offer. Adventure, comfort, and discovery
          all crafted into journeys you’ll never forget.
        </p>
      </div>

      <div class="tours">
        <div class="tour">
          <div class="top">
            <img
              src="../Public//Images//Tours/Aberdare-2.webp"
              alt="Aberdare-1 tour"
            />
            <span class="name">Aberdare National Park</span>
          </div>
          <div class="middle">
            <h4>Medium 7-day tour</h4>
            <p>Exploring the jaw-dropping US east coast by foot and by boat</p>
            <div class="details">
              <div class="detail">
                <i class="fa-solid fa-location-dot"></i>
                <span>Miami, USA</span>
              </div>
              <div class="detail">
                <i class="fa-regular fa-calendar"></i>
                <span>June 2025</span>
              </div>
              <div class="detail">
                <i class="fa-regular fa-flag"></i>
                <span>5 Stops</span>
              </div>
              <div class="detail">
                <i class="fa-regular fa-user"></i>
                <span>20 people</span>
              </div>
            </div>
          </div>
          <div class="bottom">
            <div class="left">
              <p><span>$497</span> per person</p>
              <p><span>4.1</span> rating(8)</p>
            </div>
            <a href="/single-tour">Details</a>
          </div>
        </div>
        <div class="tour">
          <div class="top">
            <img
              src="../Public//Images//Tours/Mount-kenya-1.jpg"
              alt="Aberdare-1 tour"
            />
            <span class="name">Aberdare National Park</span>
          </div>
          <div class="middle">
            <h4>Medium 7-day tour</h4>
            <p>Exploring the jaw-dropping US east coast by foot and by boat</p>
            <div class="details">
              <div class="detail">
                <i class="fa-solid fa-location-dot"></i>
                <span>Miami, USA</span>
              </div>
              <div class="detail">
                <i class="fa-regular fa-calendar"></i>
                <span>June 2025</span>
              </div>
              <div class="detail">
                <i class="fa-regular fa-flag"></i>
                <span>5 Stops</span>
              </div>
              <div class="detail">
                <i class="fa-regular fa-user"></i>
                <span>20 people</span>
              </div>
            </div>
          </div>
          <div class="bottom">
            <div class="left">
              <p><span>$497</span> per person</p>
              <p><span>4.1</span> rating(8)</p>
            </div>
            <a href="/single-tour">Details</a>
          </div>
        </div>
        <div class="tour">
          <div class="top">
            <img
              src="../Public//Images//Tours/Maasai-mara-1.jpg"
              alt="Aberdare-1 tour"
            />
            <span class="name">Aberdare National Park</span>
          </div>
          <div class="middle">
            <h4>Medium 7-day tour</h4>
            <p>Exploring the jaw-dropping US east coast by foot and by boat</p>
            <div class="details">
              <div class="detail">
                <i class="fa-solid fa-location-dot"></i>
                <span>Miami, USA</span>
              </div>
              <div class="detail">
                <i class="fa-regular fa-calendar"></i>
                <span>June 2025</span>
              </div>
              <div class="detail">
                <i class="fa-regular fa-flag"></i>
                <span>5 Stops</span>
              </div>
              <div class="detail">
                <i class="fa-regular fa-user"></i>
                <span>20 people</span>
              </div>
            </div>
          </div>
          <div class="bottom">
            <div class="left">
              <p><span>$497</span> per person</p>
              <p><span>4.1</span> rating(8)</p>
            </div>
            <a href="/single-tour">Details</a>
          </div>
        </div>
        <div class="tour">
          <div class="top">
            <img
              src="../Public//Images//Tours/Diani-beach-1.jpg"
              alt="Aberdare-1 tour"
            />
            <span class="name">Aberdare National Park</span>
          </div>
          <div class="middle">
            <h4>Medium 7-day tour</h4>
            <p>Exploring the jaw-dropping US east coast by foot and by boat</p>
            <div class="details">
              <div class="detail">
                <i class="fa-solid fa-location-dot"></i>
                <span>Miami, USA</span>
              </div>
              <div class="detail">
                <i class="fa-regular fa-calendar"></i>
                <span>June 2025</span>
              </div>
              <div class="detail">
                <i class="fa-regular fa-flag"></i>
                <span>5 Stops</span>
              </div>
              <div class="detail">
                <i class="fa-regular fa-user"></i>
                <span>20 people</span>
              </div>
            </div>
          </div>
          <div class="bottom">
            <div class="left">
              <p><span>$497</span> per person</p>
              <p><span>4.1</span> rating(8)</p>
            </div>
            <a href="/single-tour">Details</a>
          </div>
        </div>
      </div>
    </div>
    <!-- WHY CHOOSE USE SECTION --------------////////////////// -->
    <div class="why-choose-us">
      <div class="top-text">
        <span class="toaster">Why us</span>
        <h2>Why Choose Us</h2>
        <p>
          We don’t just offer tours we craft unforgettable experiences that
          inspire your sense of adventure, connect you with nature and culture,
          and transform the way you see the world.
        </p>
      </div>
      <div class="features">
        <div class="feature">
          <div class="top-icon">
            <i class="fa-solid fa-earth-americas icon-1"></i>
            <span>01</span>
          </div>
          <div class="bottom-desc">
            <h3>Handpicked Adventures</h3>
            <p>
              Every tour is carefully selected for its unique experiences,
              breathtaking scenery, and local authenticity.
            </p>
          </div>
        </div>
        <div class="feature">
          <div class="top-icon">
            <i class="fa-solid fa-user-tie icon-2"></i>
            <span>02</span>
          </div>
          <div class="bottom-desc">
            <h3>Expert Local Guides</h3>
            <p>
              Our professional guides bring destinations to life, sharing
              stories, culture, and hidden gems only locals know.
            </p>
          </div>
        </div>
        <div class="feature">
          <div class="top-icon">
            <i class="fa-solid fa-heart icon-3"></i>
            <span>03</span>
          </div>
          <div class="bottom-desc">
            <h3>Trusted by Thousands</h3>
            <p>
              Join a community of happy travelers who trust Natours for quality,
              comfort, and unforgettable adventures.
            </p>
          </div>
        </div>
        <div class="feature">
          <div class="top-icon">
            <i class="fa-solid fa-leaf icon-4"></i>
            <span>04</span>
          </div>
          <div class="bottom-desc">
            <h3>Eco-Friendly Travel</h3>
            <p>
              We believe in sustainable tourism that protects nature, supports
              local communities, and leaves a positive impact.
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- TESTIMONNIAL ///////////////////////////////////////// -->
    <div class="testimonials">
      <span class="toaster">Our Testimonials</span>
      <p class="tagline">
        Every journey with Natours is more than just a tour — it’s an adventure
        filled with beauty, laughter, and unforgettable moments. Hear from
        explorers who turned their travel dreams into reality with us.
      </p>
      <div class="testimonial-container">
        <div class="testimonial-text">
          <h2>Don't Believe Me Check What Our Clients Think of Us</h2>
          <div class="btns">
            <i class="fa-solid fa-arrow-left" id="prev"></i>
            <i class="fa-solid fa-arrow-right" id="next"></i>
          </div>
        </div>
        <div class="review-wrapper">
          <div class="reviews">
            <div class="review">
              <div class="image">
                <img src="../Public/Images/Users/use-1.jpeg" alt="" />
              </div>
              <div class="user-info">
                <h4>Mark Smith</h4>
                <p>Google inc</p>
              </div>
              <div class="rating">
                <p>
                  We believe in sustainable tourism that protects nature,
                  supports local communities, and leaves a positive impact.
                </p>
                <div class="stars">
                  <i class="fa-solid fa-star rate"></i>
                  <i class="fa-solid fa-star rate"></i>
                  <i class="fa-solid fa-star rate"></i>
                  <i class="fa-solid fa-star rate"></i>
                  <i class="fa-solid fa-star"></i>
                </div>
              </div>
            </div>
            <div class="review">
              <div class="image">
                <img src="../Public/Images/Users/use-1.jpeg" alt="" />
              </div>
              <div class="user-info">
                <h4>Mark Smith</h4>
                <p>Google inc</p>
              </div>
              <div class="rating">
                <p>
                  We believe in sustainable tourism that protects nature,
                  supports local communities, and leaves a positive impact.
                </p>
                <div class="stars">
                  <i class="fa-solid fa-star rate"></i>
                  <i class="fa-solid fa-star rate"></i>
                  <i class="fa-solid fa-star rate"></i>
                  <i class="fa-solid fa-star rate"></i>
                  <i class="fa-solid fa-star"></i>
                </div>
              </div>
            </div>
            <div class="review">
              <div class="image">
                <img src="../Public/Images/Users/use-1.jpeg" alt="" />
              </div>
              <div class="user-info">
                <h4>Mark Smith</h4>
                <p>Google inc</p>
              </div>
              <div class="rating">
                <p>
                  We believe in sustainable tourism that protects nature,
                  supports local communities, and leaves a positive impact.
                </p>
                <div class="stars">
                  <i class="fa-solid fa-star rate"></i>
                  <i class="fa-solid fa-star rate"></i>
                  <i class="fa-solid fa-star rate"></i>
                  <i class="fa-solid fa-star rate"></i>
                  <i class="fa-solid fa-star"></i>
                </div>
              </div>
            </div>
            <div class="review">
              <div class="image">
                <img src="../Public/Images/Users/use-1.jpeg" alt="" />
              </div>
              <div class="user-info">
                <h4>Mark Smith</h4>
                <p>Google inc</p>
              </div>
              <div class="rating">
                <p>
                  We believe in sustainable tourism that protects nature,
                  supports local communities, and leaves a positive impact.
                </p>
                <div class="stars">
                  <i class="fa-solid fa-star rate"></i>
                  <i class="fa-solid fa-star rate"></i>
                  <i class="fa-solid fa-star rate"></i>
                  <i class="fa-solid fa-star rate"></i>
                  <i class="fa-solid fa-star"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- FOOTER ----------------- ////////////////////////// -->
    <footer class="footer" style="margin: 0%">
      <div class="footer-container">
        <div class="footer-top">
          <div class="top-left">
            <img src="../Public/Images/natours-footer.png" alt="footer logo" />
            <span>Your ultimate go on travel and tour solution</span>
          </div>
          <div class="top-right">
            <i class="fa-solid fa-earth-africa earth"></i>
            <div class="location">
              <span>Our Physical Offices</span>
              <p>Mombasa, Nairobi, Naivasha</p>
              <i class="fa-solid fa-arrow-right"></i>
            </div>
          </div>
        </div>
        <div class="footer-bottom">
          <div class="footer-links">
            <div class="footer-link">
              <h4>Services</h4>
              <p>Budget Tours</p>
              <p>Expert Insights</p>
              <p>Indeoendent</p>
              <p>Luxury Tours</p>
              <p>Safety Tips</p>
              <p>Tips & Tricks</p>
            </div>
            <div class="footer-link">
              <h4>Adventures</h4>
              <p>Extreme</p>
              <p>In The Air</p>
              <p>Nature & Wildlife</p>
              <p>Winter Sports</p>
              <p>Outdoor Parks</p>
              <p>Motor Sports</p>
            </div>
            <div class="footer-link">
              <h4>Destinations</h4>
              <p>Turkana</p>
              <p>Naivasha</p>
              <p>Mombasa</p>
              <p>Lamu</p>
              <p>Mt Kenya</p>
              <p>Nairobi</p>
            </div>
          </div>
          <div class="get-in-touch">
            <h4>Get In Touch</h4>
            <div class="contact">
              <div class="label">
                <p>Let's Talk</p>
                <i class="fa-solid fa-arrow-right"></i>
              </div>
              <div class="email">
                <div class="input">
                  <i class="fa-regular fa-envelope"></i>
                  <input type="email" placeholder="Email address" />
                </div>
                <button>Go</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
