<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="../Public/Css/Global.css" />
  </head>
  <body class="login-body">
    <div class="login-container">
      <img src="../Public/Images/Natours-recent-logo.png" alt="" />
      <form action="" class="form">
        <div class="desc">
          <h2>Sign in</h2>
          <p>
            Access your account to manage bookings. <br />
            Adventure begins where comfort ends.
          </p>
        </div>
        <div class="input-group">
          <label for="email">Email</label>
          <input type="email" name="email" placeholder="Your Email" />
        </div>
        <div class="input-group">
          <label for="password">Password</label>
          <input type="password" name="password" minlength="8" />
        </div>
        <div class="input-group">
          <button type="submit"><a href="/sign-in">Sign In</a></button>
        </div>
        <p>New to Natours?<a href="/sign-up">Sign Up</a></p>
      </form>
    </div>
  </body>
</html>
