<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Get Started | beacome a Member</title>
    <link rel="stylesheet" href="./../Public/Css/Global.css" />
  </head>
  <body class="sign-up-body">
    <div class="container">
      <div class="container-left">
        <div class="content">
          <img src="./../Public/Images/Natours-recent-logo.png" alt="" />
          <h1>Let's Get Started!</h1>
          <p>
            Create your account in just a few steps and <br />unlock access to
            exciting adventures, personalized tours, <br />and a world of
            unforgettable experiences.
          </p>
        </div>
      </div>
      <div class="container-right">
        <h1>Create Your Account!</h1>
        <div class="form">
          <div class="input">
            <label for="name">Your Name</label>
            <input type="text" />
          </div>
          <div class="input">
            <label for="email">Email Address</label>
            <input type="email" placeholder="you@example.com" />
          </div>
          <div class="input">
            <label for="password">Password</label>
            <input type="password" placeholder="........" />
          </div>
          <div class="input">
            <label for="confirm-password">Confirm Password</label>
            <input type="password" placeholder="........" maxlength="8" />
          </div>
          <a href="/sign-up">Sign Up</a>
          <div class="sign-in">
            <p>Already a Member?</p>
            <a href="/sign-in">Sign in here</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
