:root {
  /* Light Theme (Default) */
  --bg-color: #f8f9fa;
  --surface-color: #ffffff;
  --text-primary: #14141ad6;
  --text-secondary: #8c9298;
  --accent-color: #5dcad1;
  --success-color: #bbf9c7ab;
  --success-dark: #2f9e44;
  --danger-color: #f1bbbbbc;
  --danger-dark: red;
  --pending-color: #f5deb4a6;
  --pending-dark: orange;
  --sidebar-bg: #19264f;
  --sidebar-active: #f5f8ff;
  --card-border: rgba(0, 0, 0, 0.05);
  --card-shadow: rgba(0, 0, 0, 0.2);
}

/* 🌙 Dark Theme */
[data-theme="dark"] {
  --bg-color: #111219;
  --surface-color: #232737;
  --text-primary: #f5f6f8;
  --text-secondary: #b3b7c0;
  --accent-color: #5dcad1;
  --success-color: #bbf9c741;
  --success-dark: #3acb55;
  --danger-color: #f1bbbb6a;
  --danger-dark: red;
  --pending-color: #846b3c2a;
  --pending-dark: orange;
  --sidebar-bg: #21222d;
  --sidebar-active: #111219;
  --card-border: rgba(255, 255, 255, 0.05);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
}

.dashboard {
  display: flex;
  flex-direction: row;
  background-color: var(--bg-color);
  min-height: 100vh;
}

.sidebar {
  width: 240px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: white;
  border-right: 1px solid var(--card-border);
  /* padding: 1rem; */
}

.sidebar .logo {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  width: 100%;
  border-bottom: 1px solid var(--card-border);
  padding: 1rem;
}

.logo img {
  height: 2rem;
}

.logo h2 {
  color: var(--text-primary);
}

.links {
  padding: 0 0.5rem;
}

.links ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.links ul li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.8rem 0.5rem;
  /* background-color: #232737; */
  color: var(--text-primary);
  border-radius: 5px;
}

.links ul li a {
  text-decoration: none;
  font-size: 18px;
  color: var(--text-primary);
}

.links ul li i {
  font-size: 19px;
}

.sidelink-active {
  background-color: #75b4f748;
}
.links ul .sidelink-active i,
.links ul .sidelink-active a {
  color: #3257dc;
}

.links ul li:hover {
  background-color: #75b4f748;
}

.main-content {
  flex: 1;
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 0.5rem 3rem;
  border-bottom: 1px solid var(--card-border);
}

.my-bookings,
.overview {
  padding: 2rem 3rem;
}

.main-header h3 {
  color: var(--text-primary);
  font-weight: 500;
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 380px;
  background-color: white;
  border: 1px solid var(--card-border);
  /* box-shadow: 0px 5px 10px var(--card-shadow); */
  border-radius: 5px;
  padding: 0.3rem 1rem;
}
.search-bar i {
  font-size: 20px;
  color: var(--text-secondary);
}

.search-bar input {
  padding: 0.4rem;
  font-size: 17px;
  border: none;
  flex: 1;
}

.search-bar input:focus {
  outline: none;
}
.search-bar input::placeholder {
  color: var(--text-secondary);
}

.account-profile,
.user-account {
  display: flex;
  align-items: center;
}

.user-account {
  border-left: 1px solid var(--card-border);
  gap: 0.5rem;
}

.account-profile {
  gap: 2rem;
}

.account-profile .fa-bell {
  position: relative;
}

.account-profile .fa-bell::after {
  content: "";
  position: absolute;
  width: 0.4rem;
  height: 0.4rem;
  background-color: red;
  border-radius: 50%;
  top: 18%;
  right: 24%;
}

.account-profile i {
  font-size: 20px;
  color: var(--text-secondary);
  background-color: white;
  border: 1px solid var(--card-border);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  padding: 0.5rem 0.8rem;
  border-radius: 5px;
}
.user-account img {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
}

.user-account p {
  color: var(--text-secondary);
  font-weight: 300;
}

.username {
  color: var(--text-primary);
}

.overview-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5 1fr);
  gap: 1rem;
}

.card-title,
.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-header i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  width: 2rem;
  padding: 0.5rem;

  height: 2rem;
  border-radius: 5px;
}

.label-desc {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.label-desc span:nth-child(1) {
  font-weight: 300;
  font-size: 15px;
}
.success,
.fail {
  border-radius: 5px;
  padding: 0.5rem;
  font-size: 12px;
}

.overview-card .success,
.review-count .success {
  background-color: #75e88a1f;
  color: green;
}

.overview-card .fail {
  background-color: rgba(237, 116, 116, 0.2);
  color: red;
}

.card-header .fa-chart-simple {
  background-color: #62d9783d;
  color: #2f9e44;
}

.card-header .fa-circle-check {
  background-color: #75b4f748;
  color: rgb(50, 87, 220);
}

.card-header .fa-star {
  color: orange;
  background-color: rgba(207, 168, 97, 0.431);
}
.overview-card,
.user-card-section,
.review-chart,
.top-tour,
.booking-history,
.my-bookings-container {
  background-color: white;
  padding: 1rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.02);
}

.user-card-section {
  z-index: 1;
  grid-row: span 2;
  /* max-height: 400px; */
}
.overview-card span {
  color: var(--text-secondary);
}
.overview-card h2 {
  color: var(--text-primary);
}

.card-label {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.card-title h3 {
  color: var(--text-primary);
}

.add-card {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  background: linear-gradient(45deg, #19264f, #2f5cf1);
  border-radius: 5px;
  padding: 0.5rem;
  color: white;
  font-size: 15px;
}

.add-card a {
  text-decoration: none;
  color: white;
}
.user-card {
  background: linear-gradient(45deg, #19264f, #2f5cf1);
  border-radius: 20px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  box-shadow: 1px 10px 2px #4772ff4d;
  gap: 1rem;
  position: relative;
  /* z-index: 0; */
}

.user-card::after {
  content: "";
  position: absolute;
  background-color: #a5b8f98f;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  z-index: -1;
  top: 10%;
  left: 0;
}
.card-name h2 {
  color: #f5f6f8;
  font-weight: 500;
  font-size: 18px;
}

.card-spiral {
  display: flex;
  flex-direction: row;
}

.card-spiral div {
  width: 1.5rem;
  height: 1.5rem;
  background-color: #2f9e44;
  border-radius: 50%;
}
.card-spiral div:nth-child(1) {
  background-color: #7896fa;
  margin-right: -0.7rem;
}

.card-spiral div:nth-child(2) {
  background-color: #3b66f4;
  margin-right: -0.7rem;
}
.card-spiral div:nth-child(3) {
  background-color: #1f3477;
}

.card-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.3rem;
}

.card-grid div {
  width: 0.4rem;
  height: 0.4rem;
  background-color: var(--bg-color);
  border-radius: 0.1rem;
}

.card-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.detail {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.detail span {
  color: #f5f6f8;
}

.detail p {
  color: #c9c9c9;
  font-size: 13px;
}

.review-chart {
  grid-column: span 3;
  /* max-height: 450px; */
  grid-row: span 2;
}

.review-chart canvas {
  max-height: 300px;
}

.review-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.review-top P,
.review-count h2 {
  color: var(--text-primary);
}

.review-top span {
  color: #8c9298;
  background-color: #f1f0f07a;
  padding: 0.3rem;
  border-radius: 5px;
}

.review-count {
  display: flex;
  gap: 1rem;
}

.top-tour {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.tour-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tour-header h4 {
  color: var(--text-primary);
}

.tour-header i {
  color: #981ceb;
  background-color: #bf7bed44;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

.tour-image {
  width: 100%;
}

.tour-image img {
  height: 8rem;
  width: 100%;
  border-radius: 10px;
}

.tour-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tour-detail h4 {
  font-size: 14px;
  color: var(--text-secondary);
  font-weight: 300;
}

.tour-detail h4 span {
  color: var(--text-primary);
  font-weight: bold;
}

.booking-history {
  grid-column: span 4;

  grid-row: span 2;
}

.booking-history h2 {
  color: var(--text-primary);
  font-weight: 400;
  font-size: 18px;
  margin-left: 1rem;
}

.booking-history-table {
  width: 100%;
  border-collapse: collapse;
}

.booking-history-table thead th,
.booking-history-table tbody td {
  text-align: left;
  padding: 1rem;
}

.booking-history-table thead {
  background-color: #9fb5ff25;
}

.booking-history-table thead th {
  color: var(--text-primary);
}

.booking-history-table tbody td {
  color: var(--text-secondary);
}

.booking-history-table tbody tr {
  border-bottom: 1px solid var(--card-border);
}

.confirmed,
.completed,
.pending {
  padding: 0.3rem 0.8rem;
  border-radius: 50px;
  font-size: 13px;
}

.completed {
  background-color: #95fda853;
  border: 1px solid #24eb24;
  color: #16be16;
}

.confirmed {
  background-color: #95c7fd53;
  border: 1px solid #289bff;
  color: #1c78f0;
}

.pending {
  background-color: #fdc69553;
  border: 1px solid #eba924;
  color: #e79b3e;
}
