doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{title}
        link(rel="stylesheet", href="/Css/admin.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap")

        link(rel="icon", type="image/png", sizes="40x40", href="/Images/Natours-fav-icon-32.png")
        script(defer, src="/js/dashboard.js")

    body 
        .dashboard
            .sidebar 
                ul 
                    li.current
                        i.fa-solid.fa-chart-simple 
                        span Overview 
                    li
                        i.fa-solid.fa-location-dot 
                        span Tours 
                    li
                        i.fa-solid.fa-calendar-week 
                        span Bookings 
                    li
                        i.fa-solid.fa-user 
                        span Users 
                    li
                        i.fa-solid.fa-check-to-slot 
                        span Reviews 
                    li
                        i.fa-solid.fa-gear 
                        span Settings 
            .main-content
                .overview-tab 
                    .top-sec 
                        h2 Admin Dashboard 
                        .toggle 
                            i.fa-solid.fa-moon.dark 
                            i.fa-solid-fa-sun.light
                    .count-cards 
                        .count-card.gen-card 
                          if tours
                            p Total Tours 
                            h3 125
                        .count-card 
                            p Total Bookings 
                            h3 490
                        .count-card 
                            p Total Users 
                            h3 1,250
                        .count-card 
                            p Pending Bookings 
                            h3 40
                    .stats 
                        .recent-bookings 
                            h3 Recent Bookings 
                            table.bookings-table 
                                thead 
                                    tr 
                                        th Tour
                                        th User
                                        th Date
                                        th Status
                                tbody 
                                    tr 
                                        td Maasai Mara 
                                        td Abdikarim Mohamed 
                                        td 2025-10-03 Mara 
                                        td
                                            span.confirmed Confirmed
        //- script(src="/js/dashboard.js") 



