extends ../layouts/base.pug

block content
  .login-container
    img(src="/Images/Natours-recent-logo.png" alt="")
    form.form.form-signUp
      .desc
        h2 Create Your Account
        p
          | Create your Natours account in seconds.
          br
          | Manage bookings, tours, and memories all in one place.

      .input-group
        label(for="name") Name
        input(type="text" name="name" placeholder="Your Name" id="name")

      .input-group
        label(for="email") Email
        input(type="email" name="email" placeholder="Your Email" autocomplete='off' id="email")

      .input-group
        label(for="password") Password
        input(type="password" name="password" minlength="8" autocomplete="new-password" id="password")

      .input-group
        label(for="passwordConfirm") Confirm Password
        input(type="password" name="passwordConfirm" minlength="8" id="passwordConfirm")

      .input-group
        button(type="submit") Sign Up

      p
        | Already have an account?
        a(href="/sign-in") Sign In
  script(type="module" src="/js/signup.js")
  
 
